


.content{
    display: flex;
    flex-direction: row;
    align-items: space-between;
}




/*HEADER*/

header {
    background-color: #514d7e;
    width: 253px;
    height: 3468px;
    display: flex;
    align-items: flex-start;
    justify-content:flex-start;
    flex-direction: column;
    margin-left: -10px;
    margin-top: -35px;  
    /* position:fixed */
}

.header-contents{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:flex-start;
    position: sticky;
    top:0px;
    bottom:0px;
    padding-bottom: 0px;
    
}


.logo-desktop img {
    padding-left: 33px ;
    padding-top: 25px;
    
}

.logo-desktop p{
    margin-top: -1px;
    margin-left: 53px ;
    font-family: "Roboto";
    font-weight:1000;
    color: #f9876f ;
}

.nav a {
    color: aliceblue;
    border: 3px solid;
    border-color: black;
    width: 247px;
    height : 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Roboto";
    font-weight:bolder;
    padding-top: 15px;
    text-decoration: none;
}

.rs img{
    height: 30px;
    width: 30px;
}

.rs {
    margin-top: 15px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



header a img{
    height: 42px;
    width: 42px;
}

/*FOOTER*/

html {
    width: fit-content;
    padding-right: -1000px;
}


footer{
    width: 100%;
    display: flex;
    flex-grow: 1;
    border: 5px solid;
    height: 320px;
    bottom:0px;
    /*margin-left: -8px;*/
    margin-bottom: -20px; 
    margin-left: -10px;
    align-content: flex-end;
    border-color: #AC8BD1;
    background-color: #AC8BD1;
    flex-direction: column;
}


footer .reseau-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: -40px;
    gap : 0px
}

.logo-secondaire {
    display: flex;
    justify-content: center;
}

.reseau-footer img{
    height: 42px;
}


/*CONTENU DE LA PAGE*/

section {
    height: 1000px;
    margin-top: -110px;
    
}

section *{
    padding-left: 20px;
}

section h1{
    font-family: "Open Sans";
    font-size: 100px;
    color: white;
    font-weight: bolder;
}

h1 .rayan {
    background: -webkit-linear-gradient(#514D7E, #A914EF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left:-22px;
}

.salut a {
    border: 3px solid ;
    border-color: black;
    color: white;
    font-weight: bolder;
    padding: 30px 100px 30px 100px;
    font-family: "Roboto";
    text-decoration: none;
    font-size: 20px;
    background: -webkit-linear-gradient(#f9876f, #D95886);
    margin-left:22px;
}

section article {
    width: 1187px;
}

.salut {
    background: -webkit-linear-gradient(#f9876f, #D95886);
    background-image: url("image/background-gif2.gif");
    background-size: cover; 
    height: 655px;
}

/* Présentation */

h2 {
    font-family: "Lato";
    font-weight: bolder;
    font-size:80px;
    color: white;
    margin-bottom: 0px;
}

.presentation {
    background: -webkit-linear-gradient(#f9876f, #D95886);
    margin-top:-66px;
    height: 270px;
}

article p{
    font-family: "Roboto";
    font-weight: normal;
    color: white;
    margin-left: 10px;
    text-align: justify;
    width: 80%;
    line-height: 35px;

}

.compétences {
    background: conic-gradient(#f9876f, #D95886);
    margin-top:-67px;
    height: auto;
}

.compétences label {
    font-family: "Roboto";
    font-weight: bolder;
    color: white;
    margin-left: 10px;
    margin-top: 10px;
}

.compétences progress{
    margin-left: 30px;
    margin-bottom: 20px;
    width: 600px;
}

.cursus {
    background: -webkit-linear-gradient(#D95886,#f9876f );
    margin-top:-67px;
    height: auto;
    
}

.cursus a{
    border: 1px solid ;
    border-color: #514d7e;
    color: white;
    font-weight: bolder;
    font-family: "Roboto";
    text-decoration: none;
    font-size: 15px;
    background: -webkit-linear-gradient(#f9876f, #D95886);
    margin: 15px 5px 5px 5px;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-right: 10%;
    height: 45px;
    width: 100px;
    text-align: start;
}

.cursus .button{
    display: flex;
    flex-direction: column;
    border-right: 5px solid black;
    width: 20%;
    height: auto;
    width: 35%;
    padding-right: 80px;
}

.descri-cursus {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20px;
}


.projets {
    background: -webkit-linear-gradient(#f9876f, #D95886);
    margin-top:-67px;
    height: auto;
}

.descri-projet{
    display: flex;
    flex-direction: column;
}

.descri-projet img{
    height: 180px;
    float: left;
}

.descri-projet p{
    float: right;
}

.descri-projet h3{
    text-align: left;
    margin-left: 0px;
    font-family: "Lato";
    color: white;
}

.descri-projet div{
    display: flex;
    flex: row;
}

.descri-projet div{
   text-align: justify;
   width: 80%
}


.projet-git{
    text-decoration: none;
    color: -webkit-linear-gradient(#514D7E, #A914EF);
    font-weight: bolder;
    padding-left: 5px;
}

.contact {
    background: -webkit-linear-gradient(#D95886,#f9876f );
    margin-top:-67px;
    height: auto;
}

.contact label{
    font-family: "roboto";
    font-weight: bolder;
    margin-bottom: 5px;
    margin-left: -20px;
}

input {
    margin-bottom: 20px;
    padding: 1% 10% 1% 0%; 
}

textarea {
    margin-bottom: 20px;
    padding: 1% 10% 1% 0%; 
}

button {
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 1% 10% 1% 10%; 
    color: -webkit-linear-gradient(#f9876f, #D95886);
}


.logo-mobile{
    visibility: hidden;
}

.header-contents .menu{
    visibility: hidden;
}

h3{
    font-family: "Lato";
}

.nav-mobile{
    visibility: hidden;
}


@media screen and (max-width: 576px) {
    .content{
        display: flex;
        flex-direction: column;
    }

    header {
        height: 310px;
        width: 98.8%;
        margin-bottom: 10px;
        margin-left: 0px;
        position: fixed;
    }

    header nav{
        visibility: hidden;
    }

    header .logo-desktop {
        visibility: hidden;
    }

    

    footer { 
        margin-top: 2452px;
        width: 99.1%;
        margin-left: 1px;
    }

    html {
        width: fit-content;
    }

    .logo-mobile {
        visibility: visible;
        display: flex;
        flex-direction: column;
        margin-left:-150px;
        margin-top:50px;
        width: fit-content;
        
    }

    .logo-mobile img{
        margin-bottom: -100px;
        margin-left: -190px;
        height: 220px;
        width: 400px;
    }

    .logo-mobile p{
        color:#f9876f;
        font-family: "roboto";
        font-weight: bolder;
        font-size: 20px;
        margin-left:-90px;
    }

    .header-contents{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 330px;
        justify-content: flex-start;
        
    }


    .mobile-content {
        display: flex;
        align-items: row;
        justify-content:space-between;
        width: 100%;
    }

    .header-contents .menu{
        visibility: visible;
        height: 155px;
        margin-top: 80px;
        margin-right: -170px;
    }

    section {
        margin-top: 0px;
        margin-bottom: 139px;
    }


    body {
        display: flex;
        flex-direction: column;
    }

    .content {
        margin-bottom: 287.3%;
    }

    footer {
        padding-left: 0px;
    }

    .salut {
        height: 1845px
    }

    .salut h1 {
        padding-top: 400px;
        padding-bottom: 50px;
        font-size: 100px;
        font-weight: bolder;
    }

    .salut a {
        font-size: 55px;
        font-family: "open sans";
        font-weight: bolder;
    }

    .presentation {
        height: fit-content;
    }

    .presentation h2{
        padding-top: 10px;
    }

    p {
        font-size: 40px;
        line-height: 200px;
        letter-spacing: 2px;
        font-weight: bold;
    }

    h3 {
        font-family: "Lato";
        font-size: 50px ;
    }

    .presentation p {
        padding-bottom: 50px;
    }

    .compétences {
        height: fit-content;
    }

    .button a {
        margin-bottom: 50px;
        height: 100px;
        width: 180px;
        font-size: 30px;
    }

    .texte-curs p {
        width: 700px;
    }

    label {
        font-size: 40px;
    }

    progress {
        height: 50px;
    }

    .descri-projet img {
        height: 200px;
    }

    .descri-projet p {
        margin-top: -13px;
    }

    header .nav-mobile {
        visibility: visible;
        margin-left: -110%;
        transition: all 0.5s ease;
    }

    .nav-mobile {
        position: absolute; 
        display: flex;
        flex-direction: column;
        align-content: space-around;
        background:#514D7E;
        left: 0;
        width: 100%;
        height: 630%;
        margin-top: 2%;
        /* padding-top: 50%; */
    }

    

    .nav-mobile .nav{
        /* position: absolute; */
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding-top: 5%;
        background: -webkit-linear-gradient(#D95886,#f9876f );

    }

    .nav-mobile .rs {
        display: flex ;
        flex-direction: row;
        margin-top: -1000px;
       
    }

    .nav-mobile #logo{
        display: flex;
        flex-direction: column;
        height: 355px;
        width: 356px;
        margin-top: 20px;
        padding-top: 100px;
        padding-bottom: 100px;
      
    }

    .nav-mobile #logo img{
        height: 355px;
        width: 356px;
    }
    .nav-mobile #logo p{
        font-size: 30px;
        margin-top: -50px;
        font-family: "roboto";
        font-weight: bolder;
        color: #f9876f;
        padding-left: 30px ;
    }


    .nav-mobile #xmark{
        right: 0px;
        display: flex;
        flex-direction: row;
        height: 205px;
        width: 206px;
    }

    .nav-mobile .logo-xmark {
        display: flex;
        flex: row;
        justify-content:flex-end;
        width: 100%;
        gap: 18%;
    }

    .nav-mobile .rs img {
        height: 82px;
        width: 82px;
        margin-top: -10000px;
    }

    

    .nav-mobile .nav a {
        width: 100%;
        height: 100px;
        margin-top: 30px;
        font-size: 50px;
    }



}
