body {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px;
    padding: 0px;
    zoom: 90%;
    
}

html {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}


/*HEADER*/

header {
    width: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    height: 22%;
}

.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #514d7e2d;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    gap:82%;
    height: 120px;
}


nav .button-menu {
    cursor: pointer;
    margin-top: 24px;
}

.button-menu{
    height: 60px;
    width: 60px;
}

nav .button-xmark {
    display : none;
    cursor: pointer;
    height: 60px;
    margin-top: 24px;
}

.menu {
    position: absolute;
    left: 200%;
    transition: left 0.5s ease;
    background-color: #514D7E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 0%;
    float: right;
    height: 100vh;
    box-shadow: #A914EF 0px 0px 10px 5px;
}

.menu .nav a {
    text-align: center;
    margin-bottom: 10px;
    height: 55px;
    font-weight: bolder;
    text-decoration: none; 
    color: burlywood;
    border: 2px solid;
    border-color: black;
    width: -webkit-fill-available;
}

.menu .nav a:hover {
    border-color: white;
    transition: all 0.5s ease; 
    box-shadow: 1px 3px 29px 13px #A914EF; 
}

.menu .rs{
    padding: 0px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    top:-100px;
}

.menu .rs img:hover{
    transition: all 0.5s ease; 
    box-shadow: 1px 3px 29px 13px #A914EF; 
}


.menu .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


.nav-desktop .nav {
    display: flex;
    flex-direction: row;
}


.logo-desktop img {
    padding-left: 33px ;
    width: 100%;
    height: 110px;
    width: 110px;
    height: 105px;
    width: 126px;
    
}

.logo-desktop{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.rs img{
    height: 30px;
    width: 30px;
}


header a img{
    height: 42px;
    width: 42px;
}





/*FOOTER*/


footer{
    width:100% ;
    border-color: #AC8BD1;
    background-color: #AC8BD1;
    bottom: 100%;
    padding-bottom: 50px;
}


footer .reseau-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: -40px;
    gap : 0px
}

.logo-secondaire {
    display: flex;
    justify-content: center;
}

.reseau-footer img{
    height: 42px;
}


/*CONTENU DE LA PAGE*/

main {
    display: flex;
    margin-top: -110px;
    width: 100%;
    flex-direction: column;
    
}

main article {
    width: inherit;
    margin-top: 0px;
}

main *{
    padding-left: 20px;
}

main h1{
    font-family: "Pixelify Sans";
    font-size: 100px;
    color: burlywood;
    font-weight: bolder;
}

h1 .rayan {
    background: -webkit-linear-gradient(#f9876f, #D95886);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left:-22px;
}

.salut a {
    border: 3px solid;
    border-color: black;
    color: black;
    font-weight: bolder;
    padding: 30px 100px 30px 100px;
    font-family: "VT323";
    text-decoration: none;
    font-size: 20px;
    background: -webkit-linear-gradient(#f9876f, #D95886);
    margin-left: 27px;
    top: -60px;
}

.salut a:hover {
    color:  white;
    font-size:20px;
    border: 3px solid;
    border-color: white;
    transition: all 0.5s ease; 
    box-shadow: 1px 3px 29px 13px #A914EF; 
}

.salut h1 {
    margin-bottom : 40px ;
}

.salut {
    background: -webkit-linear-gradient( #D95886,#f9876f);
    background-image: url(image/background-gif2.gif);
    background-size:contain;
    height: 850px;
    padding-top: 140px;
}



/* Présentation */

h2 {
    font-family: "Pixelify Sans";
    font-weight: bolder;
    font-size:80px;
    color: burlywood;
    margin: 0px;
}

.presentation {
    background: -webkit-linear-gradient(#3D2A56, #8A4CA0);
    height: 462px;
    padding-top: 50px;
}

article p{
    font-family: "VT323";
    font-weight: normal;
    color: burlywood;
    margin-left: 10px;
    text-align: justify;
    width: 80%;
    line-height: 35px;

}



/* Compétences*/

.compétences {
    background: linear-gradient(209deg, #3D2A56 14%,#8A4CA0  67%);
    
    height: -webkit-fill-available;

}

.compétences label {
    font-family: "VT323";
    font-weight: bolder;
    color: burlywood;
    margin-left: 10px;
    margin-top: 10px;
}

.compétences label img {
    height: 50px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

.compétences progress{
    margin-left: 30px;
    margin-bottom: 20px;
    width: 600px;
}

/* Cursus */

.cursus {
    background: linear-gradient(180deg, rgba(138,76,160,1) 51%, rgba(61,42,86,1) 93%);
    height: 50%;
}

.button a{
    padding: 0px 0px 0px 0px;
    border: 1px solid;
    border-color: black;
    font-weight: bolder;
    font-family: "VT323";
    text-decoration: none;
    font-size: 10px;
    background: -webkit-linear-gradient(#f9876f, #D95886);
    margin: 15px 5px 5px 5px;
    height: 70px;
}

.button p {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    color: black;
    font-size: small;
    font-weight: 1000;
}

#lien-ecole {
    padding: 0px;
    margin: 0px;
    margin-right: 0px;
}

.texte-curs {
    padding: 0px;
    width: 55%;
}

#texte-cursus {
    height: 231px;
    width: 610px;
    padding: 0px;
}

.cursus img{
    height: 305px;
    width: 400px;
    padding: 0px;
    border: #514D7E solid;
    margin-right: 5px;
    box-shadow: 1px 3px 29px 13px #514D7E;
}

.cursus a:hover{
    color:  white;
    border: 1px solid;
    border-color: #514D7E;
    transition: all 0.5s ease; 
    box-shadow: 1px 3px 29px 13px #514D7E; 
}



.cursus .button{
    display: flex;
    border-right: 5px solid black;
    flex-direction: column;
    height: 10%;
    width: 10%;
    padding: 0px;
    margin: 0px;
}

.descri-cursus {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20px;
}


/* Projets */

.projets {
    background: linear-gradient(149deg, hsl(284, 36%, 46%) 51%, #3D2A56 100%);
    height: -webkit-fill-available;
}

.descri-projet {
    height: 148px;
}

.mySlides img {
    height: 525px;
    margin: 0px;
    padding: 0px;
}

.projets .slideshow-container *{
    position: static;
}

.buttonSlides {
    margin: auto;
    height: fit-content;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: space-around;
}


* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position:static;
  margin: auto;
  margin-top: 5%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: burlywood;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

a.prev {
    margin-left: 40px;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: orangered;
  font-weight: bolder;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.559);
  margin: 0px;
}

/* Number text (1/3 etc) */
.numbertext {
  color: orangered;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  font-weight: bolder;
  top: 0;
  margin: 0px;
  background: rgba(0, 0, 0, 0.559)
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.projet-git{
    text-decoration: none;
    color: -webkit-linear-gradient(#514D7E, #A914EF);
    font-weight: bolder;
    padding-left: 5px;
}

/* Contact */

.contact {
    background: linear-gradient(180deg, rgba(61,42,86,1) 0%, rgba(138,76,160,1) 30%);
    height: 30%;
    padding-bottom: 50px;
}

.contact img {
    height: 50px;
}

.contact a {
    text-decoration: none;
    color: burlywood;
    font-weight: bolder;
    font-size: 20px;
    padding-left: 5px;
}


/* Menu mobile */

.logo-mobile{
    visibility: hidden;
}

.header-contents .menu{
    visibility: hidden;
}

h3{
    font-family: "VT323";
    padding: 0px;
}

.nav-mobile{
    visibility: hidden;
}


/* Media Queries */

@media screen and (max-width: 1024px) {
    html {
        width:fit-content;
        height: 100%;
        zoom: 100%;
    }
    body {
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0px;
        padding: 0px;
       
    }


    .navbar {
        height: 200px;
        gap: 29%;
        justify-content: flex-end;
    }

    .button-menu {
        margin-right: 10px;	
        height: 119px;
        width: 119px;
    }
    
    .menu {
        margin-left: 0%;
        height: 450%;
        width: 100%;
        gap: 0%;
        padding-top: 0px;
        position: absolute;
    }

    .menu .nav a {
        height: 140px;
        width: 100%;
    }



    .menu .nav{
        position: absolute;
        width: 100%;
        top: 10%;
    }

    .menu .rs {
        top: 70px;
        
    }

    .menu .rs img {
        height: 70px;
        width: 70px;
    }


    h1 .rayan {
        width: -webkit-fill-available;
    }

    .salut a{
        font-size: 70px;
    }

    main * {
        width: 50%;
    }

    p {
        font-size: 42px;
        width: 100%;
    }

    h3 {
        font-size: 50px;
    }


    article {
        height: max-content;
        padding: 0px;
    }

    .salut {
        margin: 0px;
        height: 436vh;
        background-size: cover;
    }

    .salut h1 {
        margin-bottom: 100px;
        margin-top: 30%;
    }

    main h1 {
        font-size: 150px;
    }

    .presentation {
        height: auto;
        margin: 0px;
    }

    .projets {
        height: max-content;;
        margin: 0px;
    }

    .projets img {
        height: 800px;
        width:1000px;
    }

    .projets .descri-projet {
        height: 348px;
    }

    .buttonSlides .prev, .next {
        font-size: 100px;
    }

    .slideshow-container {
        width:fit-content;
    }

    .fade {
        width:-webkit-fill-available;
    }

    .text {
        font-size: 40px;
    }

    .numbertext {
        font-size: 30px;
    }

    .compétences {
        height: auto;
        margin: 0px;
        font-size: 40px;
    }

    .compétences label img {
        width: 150px;
        height: 150px;
    }

    .cursus {
        height: -webkit-fill-available;
        margin: 0px;
    }

    .cursus .descri-cursus {
        flex-direction: column;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }


    .texte-curs {
        width: 100%;
        margin-top: 50px;
    }

    #texte-cursus {
        height: 400px;
        width: 90%;
        padding: 0px;
        margin: auto;
    }

    #title-cursus {
        width: 100%;
        margin: auto;
    }

    .descri-cursus a {
        width: 100vw;
    }

    .descri-cursus .button {
        flex-direction: row;
        width: 100%;
        height: 100%;
        border-right: none;
        border-bottom: 5px solid black;
        padding: 0px;
        margin: 0px;
        margin-top: 50px;
    }

    .descri-cursus .button a {
        height: 90px;
        padding: 0px;
    }

    .descri-cursus .button a p {
        padding: 0;
        margin: 0;
        width: 100%;
        font-size: 22px;
        font-weight: bold;
        text-align: center;
        margin-top: revert;
    }

    #lien-ecole {
        margin: auto;
        width: 500px;
        height: 405px;
    }

    #lien-ecole img {
        width: 500px;
        height: 405px;
        margin: auto;
    }
    

    .contact {
        height: auto;
        margin: 0px;
    }

    .contact h2 {
        width: 100%;
    }

    .contact img {
        width: 70px; 
        height: 50px;
    }

    .contact a {
        font-size: 30px;
    }

    .reseau-footer img {
        width: 100px;
        height: 100px;
    }

    footer .reseau-footer {
        margin-top: -135px;
    }

    .logo-secondaire {
        height: 473px;
    }

    footer {
        height: 530px;
    }


}